/* Thin (50) */
@font-face {
  font-family: "NHaasDisplayThin";
  src: url("../assets/fonts/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 50;
  font-style: normal;
  font-display: swap;
}

/* Light (200) */
@font-face {
  font-family: "NHaasDisplayLight";
  src: url("../assets/fonts/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light Italics (200) */
@font-face {
  font-family: "NHaasDisplayLightItalic";
  src: url("../assets/fonts/NeueHaasDisplayLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Roman (400) */
@font-face {
  font-family: "NHaasDisplayRoman";
  src: url("../assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "NHaasDisplayMedium";
  src: url("../assets/fonts/NeueHaasDisplayMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "NHaasDisplayBold";
  src: url("../assets/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* DMSans Bold */
@font-face {
  font-family: "DMSans";
  src: url("../assets/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  letter-spacing: -0.5rem;
}